<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if user_signed_in? %>
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= fa_icon "chart-line" %> Finance<span style="color:red;">Tracker</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_page?(my_portfolio_path) %>
            <li class="nav-item active">
              <%= link_to "My Portfolio", my_portfolio_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "My Portfolio", my_portfolio_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if current_page?(my_friends_path) %>
            <li class="nav-item active">
              <%= link_to "My Friends", my_friends_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "My Friends", my_friends_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <%= fa_icon "edit" %> Edit Profile
              <% end %>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <%# <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> %>
        </ul>
        <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> %>
        <div class="full_name mr-2">
          <%= fa_icon "user" %> <%= current_user.full_name %>
        </div>
        <div class="d-flex justify-content-end align-items-center gap-3">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    ass="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
<% else %>
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-chart-line"></i>
      Finance<span style="color:red;">Tracker</span>
    <% end %>
    <div class="d-flex justify-content-end align-items-center gap-3">
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %> &nbsp;
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</nav>
